GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:postgres@localhost:5432/helpdesk_db
GOOSE_MIGRATION_DIR=./migrations

# Application
APP_NAME="IT Helpdesk"
APP_HOST=localhost
APP_PORT=8080
CORS_ORIGINS=http://localhost:3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=helpdesk_db
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_SSLMODE=disable

# Database IHS
IHS_DB_HOST=
IHS_DB_PORT=3306
IHS_DB_NAME=dbname
IHS_DB_USERNAME=user
IHS_DB_PASSWORD=password

# JWT
JWT_SECRET=this-is-the-secret
JWT_EXP=24h

# Firebase (for push notifications / auth)
FIREBASE_PROJECT_ID=helpdesk-app-f7cac
FIREBASE_HOST_CREDENTIALS_FILE=
FIREBASE_CREDENTIALS_FILE=

# MinIO (object storage for ticket attachments)
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=key
MINIO_SECRET_KEY=secret
MINIO_BUCKET=helpdesk-dev
MINIO_USE_SSL=false

# Mail
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=587
MAIL_USERNAME=youruser
MAIL_PASSWORD=yourpassword
MAIL_FROM=noreply@rs-erba.go.id
MAIL_SSL=false

# Redis
REDIS_PASSWORD=yourpassword

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=yourpassword

# Antrol
ANTROL_DOMAIN=
ANTROL_USERNAME=
ANTROL_PASSWORD=
